@import 'fontawesome/fontawesome.css';

body {
  color: #00356a;
  font-family: 'nunito', sans-serif;
}

h1, .h1, h2, .h2, h3, .h3 {
  font-family: 'tinos', sans-serif;
}

h1, .h1 {
  font-size: 2rem;
}

h2, .h2 {
  font-size: 1.75rem;
}

h3, .h3 {
  font-size: 1.25rem;
}

p + p {
  padding-top: 1.5rem;
}

.display-1 {
  font-size: 3rem;
  padding-bottom: 2rem;
}

a:not([class]) {
  font-family: 'nunito', sans-serif;
  text-decoration: none;
}

a:not([class]):hover {
  text-decoration: underline;
}

.site-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 1020px;
}

@media (max-width: 1019px) {
  .site-width {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (max-width: 414px) {
  .site-width {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.blue-bg {
  background-color: aliceblue;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

header, footer {
  background-color: #00356a;
  color: white;
}

header > div {
  align-items: center;
  display: flex;
  padding-bottom: 2rem;
  padding-top: 2rem;
  justify-content: space-between;
}

.hero {
  background:
	repeating-linear-gradient(
		to top left,
		transparent,
		transparent 10em,
		#5382b180 10em,
		#5382b180 15em,
		transparent 15em,
		transparent 20em,
		#c1ecec80 20em,
		#c1ecec80 25em
	),
	repeating-linear-gradient(
		to top right,
		transparent,
		transparent 5em,
		#b6b6b680 5em,
		#b6b6b680 10em,
		transparent 10em,
		transparent 20em,
		#c1ecec80 20em,
		#c1ecec80 25em
	), aliceblue;
  background-blend-mode: multiply;
  align-items: center;
  display: flex;
  height: 40vh;
}

.cta-link {
  font-family: 'nunito', sans-serif;
}

.cta-link i {
  margin-left: .25rem;
  position: relative;
  top: 2px;
  transition: margin-left .5s;
}

.cta-link:hover i {
  margin-left: .5rem;
}

.hero-small {
  height: 15vh;
}

@media (max-width: 799px) {
  .hero-small {
    height: 5vh;
  }
}

.content-block {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.content-block-small {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

@media (min-width: 415px) {
  .content-block {
    margin-bottom: 8rem;
    margin-top: 6rem;
  }

  .content-block-small {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
}

@media (max-width: 414px) {
  .grid-services li {
    margin-bottom: 3rem;
  }
}

@media (min-width: 415px) {
  .grid-services {
    align-items: flex-start;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-row-gap: 5rem;
    grid-column-gap: 3rem;
    text-align: center;
  }
}

@media (min-width: 800px) {
  .grid-services {
    align-items: flex-start;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-row-gap: 3rem;
    grid-column-gap: 3rem;
    text-align: center;
  }
}

.service-link {
  color: #00356a;
  text-decoration: none;
}

.service-link i {
  color: #d1d1d1;
  font-size: 7em;
  text-shadow: 2px 2px #cbcbcb;
  transition: color .5s;
}

.service-link:hover i {
  color: #00356a;
}

@media (min-width: 415px) {
  .service-name {
    padding-top: 2rem;
  }
}

@media (max-width: 414px) {
  .service-link {
    align-items: center;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-row: auto;
  }

  .service-link i {
    font-size: 3em;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }
}

.page-title {
  padding-bottom: 2rem;
}

.bullets li {
  list-style: disc;
  margin-bottom: .5rem;
  margin-left: 1.25rem;
}

.button {
  background-color: navy;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 1.25rem;
}

.button:hover {
  background-color: #3a98fb;
}

.solution-details {
  padding-top: 3rem;
}

@media (max-width:550px) {
  .solution-details i {
    display: none;
  }
}

.solution-name {
  margin-bottom: 1rem;
}

@media (min-width:549px) {
  .solution-details {
    align-items: center;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 140px auto;
    margin-top: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .solution-details i {
    font-size: 7rem;
    text-align: center;
  }
}

@media (min-width:800px) {
  .solution-details {
    grid-gap: 3rem;
  }
}

footer {
  padding: 2rem;
}

.visible {
  visibility: visible!important;
}
